<div *ngFor="let groupId of objectKeys(groupedMatches)" class="group-block">
  <h2 class="group-title">Group {{ groupId }}</h2>

  <div class="bracket-wrapper">
    <div *ngFor="let round of getSortedRounds(groupId)" class="bracket-column">
      <h3 class="round-title">Round {{ round }}</h3>

      <div class="bracket-matches">
        <div *ngFor="let match of groupedMatches[groupId][round]" class="match-card">
          <!-- Player 1 Row -->
          <div class="match-row">
            <span class="player-name">
              {{ getPlayerName(match.player1_id) }}
            </span>
            <div class="player-sets">
              <span class="set" *ngFor="let set of getSetScores(match.scores_csv)">
                {{ set[0] }}
              </span>
            </div>
          </div>

          <!-- Player 2 Row -->
          <div class="match-row">
            <span class="player-name">
              {{ getPlayerName(match.player2_id) }}
            </span>
            <div class="player-sets">
              <span class="set" *ngFor="let set of getSetScores(match.scores_csv)">
                {{ set[1] }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
