<div class="login-container">
  <mat-card class="login-card">
    <h2 class="login-title">Admin Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          type="button"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        class="submit-btn"
        type="submit"
        [disabled]="loading"
      >
        <!-- <mat-progress-spinner
          *ngIf="loading"
          mode="indeterminate"
          diameter="20"
          color="accent"
        ></mat-progress-spinner> -->
        <span *ngIf="!loading">Login</span>
      </button>

    </form>
  </mat-card>
</div>
