<div class="card-header">
  <div class="card-top">
    <div class="header-left">
      <div class="header-left-top">
        <h1>{{ tournament.name }}</h1>
      </div>
      <div class="header-left-bottom">
        <!-- <div class="info-box">
          <mat-icon class="icon">access_time</mat-icon>
          <p>
            Starts in
            <span class="highlight">{{
              tournament.startTime | countdown
            }}</span>
          </p>
        </div> -->

        
        <div class="info-box">
          <mat-icon class="icon">calendar_today</mat-icon>
          <p>{{ tournament.startTime | date : "MMM d yyyy  h:mm a" }}</p>
        </div>
        
        <div class="info-box">
          <div class="red-circle"></div>
          <div class="text">
            Live
          </div>
        </div>
      </div>
    </div>

    <div class="header-right">
      <h2 class="entry_fee"><span>Entry fee:</span> $25/person</h2>
      <div class="reg-info">
        <button class="join-btn"  >
          REGISTER NOW!
        </button>
        <div class="countdown">
          Registration Closed
        </div>
      </div>
      <!-- dont forget, it is for showing fully bracket here -->
      <!-- <button class="join-btn" style="margin-top: 10px;" (click)="onPressedShowBracket()">Show Full Bracket</button> -->
    </div>
  </div>

  <div class="card-bottom">
    <ul>
      @for (tab of tabsList; track $index) {
      <li
        [ngClass]="{ active: selectedTab === tab, disabled: tab === '' }"
        (click)="tab !== '' && onSelectTab(tab)"

        [ariaDisabled]="tab === 'overview'"
      >
        {{ tab | uppercase }}
      </li>
      }
    </ul>
  </div>
</div>
