.participants-container {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  width: 100%;
  align-items: stretch;
}

.participants-header {
  font-weight: 700;
  color: var(--highlight-yellow);
  /* font-size: 1.25rem; */
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--accent-cyan);
  padding-bottom: 0.5rem;
  width: 100%;
}

.participant-list {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    gap: 0.4rem;
}

.participant-card {
    background-color: var(--card-blue);
    color: var(--text-light);
    padding: 0.6rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-left: 4px solid var(--accent-cyan);
    font-weight: 500;
    cursor: default;
    width: 100%;
    box-sizing: border-box;
    margin: 0.6rem 0;
}

.participant-card:first-child {
    margin-top: 0;
}

.participant-card:hover {
    background-color: var(--primary-bg);
    transform: translateX(4px);
}
