<!-- Header Section -->
<div class="table-header">
  <h2>Admins</h2>
  <div>
    <button mat-raised-button color="primary" (click)="openRegisterDialog()">
        <mat-icon>add</mat-icon> Add Admin
    </button>
    <!-- <app-tournament-dialog (closed)="onDialogClosed($event)"></app-tournament-dialog> -->
  </div>
</div>

<!-- Table -->
<table mat-table [dataSource]="admins" class="mat-elevation-z2">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> UserName </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" >
        <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" >
        <mat-icon>delete</mat-icon>
        </button>
    </td>
    </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
