<section id="tournaments-section" class="tournaments-page">
  <!-- Header -->
  <div class="tournaments-header">
    <div>
      <h2 class="page-title">All Tournaments</h2>
      <p class="page-subtitle">Manage and track all tournaments</p>
    </div>
    
    <button class="create-btn" (click)="onPressedCreateTournament()">
      Create Tournament
    </button>
  </div>


  <!-- Body -->
  <div class="body-container">
    <div class="body-header-wrapper">
      <div class="body-header">
        <div class="title">Tournaments</div>

        <div class="filters show-filters" (click)="toggleFilters()" *ngIf="!showFilters">
          <span class="material-icons">filter_alt</span> Show Filters
        </div>

        <div class="filters close-filters" (click)="toggleFilters()" *ngIf="showFilters">
          <span class="material-icons">filter_alt</span> Hide Filters
        </div>
      </div>

      <!-- filters section -->
      <div class="filters-section" *ngIf="showFilters" [@filterToggle]="showFilters ? 'open' : 'close'">

        <div class="filter">
          <label for="name">Name</label>
          <input type="text" name="name">
        </div>

        <div class="filter">
          <label for="category">Category</label>
          <input type="text" name="category">
        </div>

        <div class="filter">
          <label for="sdate">Start Date</label>
          <input type="date" name="sdate">
        </div>

        <div class="filter">
          <label for="edate">End Date</label>
          <input type="date" name="edate">
        </div>

        <div class="filter">
          <label for="status">Status</label>
          <select name="status">
            <option value="active">Active</option>
            <option value="completed">Completed</option>
          </select>
        </div>

        <div class="filter-btn" (click)="applyFilters()">
          Filter
        </div>

      </div>
      
    </div>

    <div class="body-list">
      <div class="tile" *ngFor="let t of tournaments" [routerLink]="[`/admin/tournament/${t.id}`]" routerLinkActive="router-link-active" >
        <div class="tile-left">
          <div 
            class="active-btn" 
            [ngClass]="t.completed ? 'status-completed' : 'status-active'">
          </div>
          <div class="tile-title">{{ t.name }}</div>
          <div class="tile-meta">
            {{ t.teams }} Teams • Category {{ t.category }} • ${{ t.entryFee }} Entry
          </div>
        </div>

        <div class="tile-right">
          <span class="tile-date">{{ t.createdAt }}</span>
          <button class="tile-action">Setup</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Pagination -->
  <!-- <div class="pagination">
    <div class="pagination-info">
      Showing 
      <span>{{ (currentPage - 1) * pageSize + 1 }}</span>–
      <span>{{ getMath()}}</span>
      of <span>{{ totalItems }}</span> tournaments
    </div>
    <div class="pagination-controls">
      <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage === 1">⬅ Prev</button>

      <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
        <button 
          class="pagination-btn" 
          [class.active]="currentPage === i + 1" 
          (click)="goToPage(i + 1)">
          {{ i + 1 }}
        </button>
      </ng-container>

      <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next ➡</button>
    </div>
  </div> -->

</section>
