<div class="fullscreen-container" #fullscreenContainer>

  @if (isFullScreen) {
    <div class="header">
      <div (click)="enterFullscreen()" class="fullscreen-btn">
        Full Screen View <mat-icon>fullscreen</mat-icon>
      </div>
    </div>
  }

  <div class="theme theme-dark-trendy fullscreen-container">
    <div class="bracket disable-image">
      <div class="column" *ngFor="let round of bracketData">
        <div class="match" *ngFor="let match of round.matches" [ngClass]="match.winner === 'top' ? 'winner-top' : 'winner-bottom'">
          <div class="match-top team">
            <!-- <span class="image"></span> -->
            <span class="seed">{{ match.top.seed }}</span>
            <span class="name">{{ match.top.name }}</span>
            <span class="score">{{ match.top.score }}</span>
          </div>
          <div class="match-bottom team">
            <!-- <span class="image"></span> -->
            <span class="seed">{{ match.bottom.seed }}</span>
            <span class="name">{{ match.bottom.name }}</span>
            <span class="score">{{ match.bottom.score }}</span>
          </div>

          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>