<div *ngIf="isLoading" class="loading-overlay">
  <mat-spinner></mat-spinner>
</div>
<div class="container">
  <div class="registration-card">
    <div class="logo-section">
      <img src="assets/images/register/logo-register.PNG" alt="logo" class="logo-img" />
      <div class="subtitle">Tournament Registration</div>
    </div>

    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-section">
        <div class="section-title">Select Your Category</div>

        <div class="category-group">
          <div *ngFor="let cat of categories" class="category-option">
            <input
              type="radio"
              [id]="'category-' + cat"
              name="category"
              class="category-radio"
              [(ngModel)]="formData.category"
              [value]="cat"
              required
            />
            <label [for]="'category-' + cat" class="category-label">
              {{ cat }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-input"
          placeholder="Player 1 Name *"
          name="player1"
          [(ngModel)]="formData.player1_name"
          required
          #player1="ngModel"
        />
        <div class="validation-msg" *ngIf="player1.invalid && isFormSubmitted">
          Player 1 name is required.
        </div>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-input"
          placeholder="Player 2 Name *"
          name="player2"
          [(ngModel)]="formData.player2_name"
          required
          #player2="ngModel"
        />

        <div class="validation-msg" *ngIf="player2.invalid && isFormSubmitted">
          Player 2 name is required.
        </div>
      </div>

      <div class="form-group">
        <input
          type="tel"
          class="form-input"
          placeholder="Contact Phone Number *"
          name="phoneNumber"
          minlength="8"
          [(ngModel)]="formData.phone_number"
          [ngModel]="formData.phone_number === 0 ? null : formData.phone_number"

          required
          #phoneNumber="ngModel"
        />
        <ng-container *ngIf="formData.phone_number">
          <div class="validation-msg" *ngIf="phoneNumber.invalid && isFormSubmitted">
            Phone Number is required and must be valid.
          </div>
          <div class="input-description">
            We'll use this number to contact you if we need any additional
            information about your registration or tournament details.
          </div>
        </ng-container>
      </div>

      <button
        color="primary"
        class="submit-btn"
        type="submit"
        [disabled]="form.invalid && isLoading"
      >
        Register Team
      </button>
      
    </form>
  </div>
</div>

