<div class="modern-sidebar">
  <div class="sidebar-header" *ngIf="sidebarData.isTournament">
    <img [src]="sidebarData.logo" alt="Logo" class="logo" />

    <div class="admin-desc">
      <div class="nav-back" (click)="goBack()">
        <svg class="back-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2">
          <path d="M15 18l-6-6 6-6" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span class="nav-label">Tournaments</span>
      </div>

      <div class="desc">

        <div class="trophy-wrapper" >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 trophy">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0" />
          </svg>
        </div>

        <div class="title-wrapper">
          <h2 class="app-title">{{ sidebarData.title }}</h2>
          <p class="subtitle">{{ sidebarData.subtitle }}</p>
        </div>

      </div>

    </div>
  </div>

  <div class="sidebar-header" *ngIf="!sidebarData.isTournament">
    <img [src]="sidebarData.logo" alt="Logo" class="logo" />

    <div class="admin-desc">

      <div class="desc">
        <div class="title-wrapper">
          <h2 class="app-title">{{ sidebarData.title }}</h2>
          <p class="subtitle">{{ sidebarData.subtitle }}</p>
        </div>

      </div>

    </div>
  </div>




  <nav class="sidebar-list">
    <ng-container *ngFor="let item of sidebarData.list">
      <!-- No children -->
      <a
        *ngIf="!item.children"
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.exact }"
        class="sidebar-item"
      >
        <span class="material-icons icon">{{ item.icon }}</span>
        <span class="label">{{ item.label }}</span>
      </a>

      <!-- With children -->
      <div *ngIf="item.children" class="sidebar-item has-children" (click)="toggleDropdown(item)">
        <!-- top -->
        <div class="item-wrapper">
          <div class="left">
            <span class="material-icons icon">{{ item.icon }}</span>
            <span class="label">{{ item.label }}</span>
          </div>
          <span class="material-icons arrow">
            {{ item.expanded ? 'expand_less' : 'expand_more' }}
          </span>
        </div>


        <div class="children" *ngIf="item.expanded">
          <a
            *ngFor="let child of item.children"
            [routerLink]="child.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: child.exact }"
            class="sidebar-subitem"
          >
            <span class="material-icons icon">{{ child.icon }}</span>
            <span class="label">{{ child.label }}</span>
          </a>
        </div>
      </div>
    </ng-container>

    <!-- Logout -->
    <a class="sidebar-item logout-link" (click)="onLogout()">
      <span class="material-icons icon">logout</span>
      <span class="label">Logout</span>
    </a>
  </nav>

</div>
