<div *ngIf="tournament; else notFound" class="container">
  <!-- Header card -->
  <div class="header">
    <app-tournament-detail-header
      [tournament]="tournament"
      (tabChanged)="changeTab($event)"
    ></app-tournament-detail-header>
  </div>
  <!-- ------------ -->

  <!-- Body -->
  <div class="tab-content">
    <!-- Overview -->
    <app-tournament-detail-overview
      *ngIf="selectedTab === 'overview'"
      [tournament]="tournament"
    ></app-tournament-detail-overview>
    <!-- BRacket -->
    <app-tournament-detail-bracket
      *ngIf="selectedTab === 'bracket'"
      [tournament]="tournament"
      [matches]="matches"
      [participants]="participants"
      [groupedMatches]="groupedMatches"
    ></app-tournament-detail-bracket>
    <!-- Participants -->
    <app-tournament-detail-participants
      *ngIf="selectedTab === 'participants'"
      [tournament]="tournament"
      [participants]="participants"
    ></app-tournament-detail-participants>
    <!-- Matches -->
    <app-tournament-detail-matches
      *ngIf="selectedTab === 'matches'"
      [tournament]="tournament"
      [groupedStats]="groupedStats"
    ></app-tournament-detail-matches>
    <!-- Test -->
    <app-test-bracket
      *ngIf="selectedTab === 'test-bracket'"
      [groupedMatches]="groupedMatches"
    ></app-test-bracket>
  </div>
</div>

<ng-template #notFound>
  <div class="container">
    <p>Tournament not found.</p>
  </div>
</ng-template>
